<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Mario Chat</title>
    <script src="/socket.io/socket.io.js"></script>
    <link href="/styles.css" rel="stylesheet" />
</head>
<body>

<div id="mario-chat">
    <h2>Mario Chat</h2>
    <div id="chat-window">
        <div id="output"></div>
    </div>
    <input id="handle" type="text" placeholder="Handle" />
    <input id="message" type="text" placeholder="Message" />
    <input id="port" type="hidden" value="{{ port }}"/>
    <button id="send">Send</button>
</div>

</body>
<script src="/chat.js"></script>
</html>
